streamlit
streamlit-webrtc
pytesseract
pdf2image
opencv-python
openpyxl
Pillow
reportlab
pip install easyocr

streamlit
pytesseract
Pillow
pdf2image
openpyxl
reportlab
transformers
torch
opencv-python
streamlit-webrtc
